<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    
    <target xsi:type="File"
            name="jsonFile"
            fileName="${basedir}/logs/${shortdate}/app.json"
            keepFileOpen="false"
            archiveEvery="Day"
            maxArchiveFiles="7" >
      <layout xsi:type="JsonLayout" includeScopeProperties="true">
        <attribute name="correlationId" layout="${scopeproperty:CorrelationId}" />
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString}" />
      </layout>
    </target>
    
    <!-- Логи у консоль (для дебагу) -->
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="jsonFile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
